

{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<article id="one" class="spotlight about odd accent3">
		<div class="inner">
        <header class="major  top-margin">
						<h2>Testimonials</h2>
				</header>
        <div class="testimonial">
            <div class="center-text"><h1>Zachary Brackin</h1></div>
            <div>Communication and scheduling. Company did exactly what they said they were going to do at an excellent price. Unparraled work ethic that is hard to find these days. They did an excellent job at limiting dust and getting exactly what we wanted. We could not have asked for a better experience. If you ever want to talk about my experience let me know and I will give talk about this great group. Thank you for the excellence work.
            </div>
            <hr/>
        </div>
        <div class="testimonial">
            <div class="center-text"><h1>Jodi Jackson</h1></div>
            <div>We absolutely love our floors! Johnathon is very thorough and walks you through every step of the way. There still are people and companies out there that are honest and have integrity! Highly recommend.
            </div>
            <hr/>
        </div>
        <div class="testimonial">
            <div class="center-text"><h1>Tim Vigus
            </h1></div>
            <div>Most professional and respectful guy our business has had the pleasure of working with! Highly recommend for any services!
            </div>
            <hr/>
        </div>
        <div class="testimonial">
            <div class="center-text"><h1>Tracy T.
            </h1></div>
            <div>Wonderful job on our floors. Our home was flooded and old flooring after removal provided extra challenges. Johnathan and his team were fantastic to work with.
            </div>
            <hr/>
        </div>
        <div class="testimonial">
            <div class="center-text"><h1>Jim D.
            </h1></div>
            <div>excellent work and great workers. very professional. Johnathan and the others we meet were great and outstanding attitude.
            </div>
            <hr/>
        </div>
        <div class="testimonial">
            <div class="center-text"><h1>Kyle B.
            </h1></div>
            <div>Johnathan and his team did a great job and stands behind their work.
            </div>
            <hr/>
        </div>
	      
</article>

<!-- Spotlight -->

<!-- Spotlight -->

<!-- Carousel -->

<!-- Posts -->
{% include "core/cform.html" %}

{% endblock %}
