
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
			<section id="four" class="wrapper style4">
				<div class="inner">
					<header class="major">
						<h2>Polished Concrete</h2>
					</header>
					<div class="carousel">
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-1.jpg' %}" alt="" />
							</div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-2.jpg' %}" alt="" />
							</div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-5.jpg' %}" alt="" />
							</div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-6.jpg' %}" alt="" />
							</div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-9.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-10.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/building-11.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/image1.JPG' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/image2.JPG' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/image3.JPG' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/warehouse-1.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/warehouse-2.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/warehouse-3.jpg' %}" alt="" />
							  </div>
						</article>
						<article>
							  <div class="image" data-position="top center">
								    <img src="{% static 'images/warehouse/warehouse-4.jpg' %}" alt="" />
							  </div>
						</article>
						<nav>
							<a href="#" class="previous"><span class="label">Previous</span></a>
							<a href="#" class="next"><span class="label">Next</span></a>
						</nav>
					</div>
				</div>
			</section>

{% include "core/cform.html" %}
{% endblock %}
